/* Navigation Bar */

.navbar {
  padding: 0 0 .1rem;
  background-color: rgb(0,0,0,0.70);
}

#logo {
  padding: 20px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

#navbarTogglerDemo02 {
  padding-top: .5rem;
  padding-right: .4rem;
}

.dropdown {
  display:block;
  position:relative;
}

button{
  border: 5px;
  border-radius:5px;
  padding-top: 8px;
  cursor:pointer;
  background: none;
  font-size: 1.2rem;
  color: rgb(121, 124, 125);
  font-family: "Montserrat-Light";
}

button:hover{
  border: 5px;
  border-radius:5px;
  padding-top: 8px;
  cursor:pointer;
  background: none;
  font-size: 1.2rem;
  color: rgba(255,255,255,.75);
  font-family: "Montserrat-Light";
}

.dropdown-options {
  display: none;
  position:fixed;
  overflow: auto;
  background-color:rgb(0,0,0,0.70);
  border-radius:none;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.358);
}

.dropdown:hover .dropdown-options {
  display: ruby-base;
}

.dropdown-options a {
  display: block;
  font-family: "Montserrat-Light";
  color: rgba(255, 255, 255, 0.726);
  padding: 5px;
  text-decoration: none;
  padding:10px 10px;
}

.dropdown-options a:hover {
  color: rgba(0, 0, 0, 0.689);
  background-color: rgba(255, 255, 255, 0.726);
  border-radius:5px;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #e4f9f5;

  /* background:
radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
background-size: 40px 60px; */

  /* background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#ffef00, #00ced1);
  background-color: mediumspringgreen;

  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat; */
}
.container {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  background: #e5dbdb;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,0.2);
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #624aa3;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #624aa3;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #624aa3;
}
.right-side .input-box {
  height: 50%;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
  padding: 0 10px;
}
.right-side .concern textarea {
  padding: 10px 15px;
  border-radius: 6px;
  background: #ffffff;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
  padding-left: 204px;
}
.right-side .button input[type="button"] {
  color: #ffffff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #624aa3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 40px;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.footer {
  display: flex; 
  padding: 10px 0; 
  text-align: center; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(0,0,0,.70); 
  color: rgba(255, 255, 255, 0.726); 
  font-family: "Ubuntu";
  width: 100%;
  position: static;
  margin-bottom: 0px;
}