/* Navigation Bar */

.navbar {
    padding: 0 0;
    margin-top: 0 !important;
    background-color: rgb(0,0,0,.75) !important;
}
  
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}
  
.nav-item {
    /* padding: 0 10px; */
}
  
#logo {
    padding: 20px;
}
  
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.footer {
    display: flex; 
    padding: 10px 0; 
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(0,0,0,.70); 
    color: rgba(255, 255, 255, 0.726); 
    font-family: "Ubuntu";
    width: 100%;
    position: static;
    margin-bottom: 0px;
}