/* Navigation Bar */

.navbar {
    padding: 0 0;
    margin-top: 0 !important;
    background-color: rgb(0,0,0) !important;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    /* padding: 0 10px; */
  }
  
  #logo {
    padding: 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

