.td {
    text-align: center;
}

body {
    font-family: "Montserrat";
    text-align: center;
    background-color: aquamarine;
  }
  

/* Navigation Bar */

.navbar {
  padding: 0 0 .1rem;
  background-color: rgb(0,0,0,0.70);
}

#logo {
  padding: 20px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

#navbarTogglerDemo02 {
  padding-top: .5rem;
  padding-right: .4rem;
}

.dropdown {
  display:block;
  position:relative;
}

button{
  border: 5px;
  border-radius:5px;
  padding-top: 8px;
  cursor:pointer;
  background: none;
  font-size: 1.2rem;
  color: rgb(121, 124, 125);
  font-family: "Montserrat-Light";
}

button:hover{
  border: 5px;
  border-radius:5px;
  padding-top: 8px;
  cursor:pointer;
  background: none;
  font-size: 1.2rem;
  color: rgba(255,255,255,.75);
  font-family: "Montserrat-Light";
}

.dropdown-options {
  display: none;
  position:fixed;
  overflow: auto;
  background-color:rgb(0,0,0,0.70);
  border-radius:none;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.358);
}

.dropdown:hover .dropdown-options {
  display: ruby-base;
}

.dropdown-options a {
  display: block;
  font-family: "Montserrat-Light";
  color: rgba(255, 255, 255, 0.726);
  padding: 5px;
  text-decoration: none;
  padding:10px 10px;
}

.dropdown-options a:hover {
  color: rgba(0, 0, 0, 0.689);
  background-color: rgba(255, 255, 255, 0.726);
  border-radius:5px;
}



/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


  .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
  }

  .box {
    /* width: 300px; */
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff85;
    text-align: center;
  }
  
  .footer {
    display: flex; 
    padding: 10px 0; 
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(0,0,0,.70); 
    color: rgba(255, 255, 255, 0.726); 
    font-family: "Ubuntu";
    width: 100%;
    position:absolute;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
  }


 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


.fieldset {
  min-width: 0;
  padding: 5px 5px 5px 5px;
  margin: 0;
  border: 0;
    border-top-style: none;
    border-top-width: 10px;
}

c, strong {
  font-weight: bolder;
  color: bisque;
}